


.middleSection{
    /* background-color: rgba(0, 255, 255, 0.495); */
    height: 800px;
    display: flex;
    flex-direction: column;
    
    
}

.middleContentArea{
    background: linear-gradient(5deg, #151716, #10272d, #17171727);

    height: 800px;
    /* width: 40%; */
   
    
}

.middleContentbar{
    background-color: rgba(255, 255, 255, 0.045);
    background: linear-gradient(1deg, #0b3621, #10272d, #ff151527, #0b3621);
    /* width: 40%; */
    height: 50px;
    
}

.exploreSection{
   /* background-color: rosybrown; */
   height: 350px;
   display: flex;
   
   
   
   
}

.categorySection{
    /* background-color: rgba(165, 42, 42, 0.186); */
    height: 350px;
    width: 1.8%;
    margin-left: 0.5%;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    
}

.exploreContentArea{
    background-color: rgba(49, 48, 49, 0.362);
    width: 93%;
    margin-left: 1%;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
   

}