


.middleSection{
    /* background-color: rgba(0, 255, 255, 0.495); */
    height: 800px;
    display: flex;
    flex-direction: column;
    
    
}

.middleContentFeed{
    /* background: linear-gradient(5deg, #151716, #10272d, #17171727); */
    /* background: linear-gradient(1deg, #15171600, #48c0dead, #17171706); */
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
    /* width: 40%; */
   
    
}

.middleContentarea{
    /* background-color: rgba(202, 192, 138, 0.64); */
    /* background: linear-gradient(1deg, #0b3621, #10272d, #ff151527, #0b3621); */
    /* width: 40%; */
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.middleContentbar{
    background-color: rgb(205, 205, 205);
    width: 1000px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

}

.explorefeedContent{
    /* background-color: aqua; */
    margin-top: 1%;
    /* margin-right: 1%; */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* margin-left: 20px; */
    height: 500px;
    
   
}

.feedbarSection{
    /* background-color: orange; */
    width: 500px;
    height: 70px;
   display: flex;
   align-items: center;
   margin-right: 1%;
}




.feetbarContent_line{
    /* background-color: green; */
    border-top: 2px solid rgba(178, 9, 9, 0.471);
    margin-top: 4%;
    width: 90px;
    height: 20px;
}

.feetbarContent_line:hover{
    border-top: 2px solid rgba(178, 9, 9, 0.982);

}

.feetbarContent_circle1{
    /* background-color: red; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 2px solid rgba(178, 9, 9, 0.23);
    border: 2px solid rgb(178, 9, 9,);
    border-top: 2px solid rgb(255, 62, 62) ;
}

.feetbarContent_circle1:hover{
        background: linear-gradient(1deg, #a5a5a5, #8a0000, #d4000027, #0b3621);
        border-top: 2px solid rgba(178, 9, 9, 0.982);


}

.exploreContentSection{
    /* background-color: orange; */
    height: 250px;
    /* margin: 0px; */
    animation: jumpOut 1s ease-out;
}

@keyframes jumpOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


.exploreSection{
   /* background-color: rosybrown; */
   height: 350px;
   display: flex;
   
   
   
   
}

.selectTypeofEvent{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}


.selectTypeofEventCategory{
    width: 300px;
    height: 30px;
    
    border-radius: 20px;
}

.event-type-content{
    text-align: center;
}
.categorySection{
    /* background-color: rgba(165, 42, 42, 0.186); */
    height: 350px;
    width: 1.8%;
    margin-left: 0.5%;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    
}

.exploreContentArea{
    background-color: rgba(49, 48, 49, 0.362);
    width: 93%;
    margin-left: 1%;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
   

}
