


.middleSection{
    /* background-color: rgba(0, 255, 255, 0.495); */
    height: 800px;
    display: flex;
    flex-direction: column;
    
    
}

.middleContentArea{
    background: linear-gradient(5deg, #151716, #10272d, #17171727);

    height: 800px;
    /* width: 40%; */
   
    
}

.middleContentarea{
    /* background-color: rgba(202, 192, 138, 0.64); */
    /* background: linear-gradient(1deg, #0b3621, #10272d, #ff151527, #0b3621); */
    /* width: 40%; */
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    
}

.middleContentbar{
    background-color: rgb(205, 205, 205);
    width: 1000px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.exploreSection{
   /* background-color: rosybrown; */
   height: 350px;
   display: flex;
   
   
   
   
}

.selectTypeofEvent{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}


.selectTypeofEventCategory{
    width: 300px;
    height: 30px;
    
    border-radius: 20px;
}

.event-type-content{
    text-align: center;
}
.categorySection{
    /* background-color: rgba(165, 42, 42, 0.186); */
    height: 350px;
    width: 1.8%;
    margin-left: 0.5%;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    
}

.exploreContentArea{
    background-color: rgba(49, 48, 49, 0.362);
    width: 93%;
    margin-left: 1%;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
   

}
