
.HeaderArea{
   
    /* background-color: rgb(9, 255, 0); */
}

.NavArea{
    color: white;
    width: 100%;
    /* background-color: orange; */
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
}


.searchInput{
    background-color: rgb(255, 255, 255);
}

.searchOpt{
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    justify-content: space-around;
}
 



.searchSection{
    color: white;
    /* background-color: rgba(157, 160, 157, 0.119); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 600px;
    /* border: 1px solid rgba(255, 255, 255, 0.266); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 90%;

    /* gap: 3%; */

}
 

.viewuserArea{
    /* background-color: rgba(131, 125, 115, 0.073); */
    width: 100%;
    height: 150px;
    margin-bottom: 5%;
    margin-top: 20% ;
    /* border: 1px solid rgba(255, 255, 255, 0.093); */
    border-radius: 50px;

    
    
}
    

.searchuserArea{
    background-color: rgba(126, 121, 121, 0.136);
    width: 80%;
    height: 60px;
    border: 1px solid rgb(33, 31, 31);
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    

}

.searchContent{
    /* background-color: black; */
    width: 550px;
}


.searchInput{
    width: 390px;
    height: 30px;
    margin-left: 2%;
    border-radius: 10px;
    background-color: #ffffff74;
    border: 1px solid black


}
.searchInput:focus{
    outline: none;
    border: 1px solid rgb(189, 189, 189)


}

.searchBtn{
    background-color: #595b5b;
    width: 95px;
    height: 30px;
    margin-left: 4%;
}


.DisplayUserSection{
    
    /* background-color: rgba(187, 187, 187, 0.496); */
    width: 750px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px ;
    border: 1px solid rgba(255, 255, 255, 0.321);

}