
body{
    background-color: rgb(0, 0, 0);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
       
}

html, body{
    height: 100%;
    overflow: hidden;
}



/* background container */
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    grid-template: 
    "a a b b b c c d d d " 
    "a a b b b c c d d d " 
    "a a b b b c c d d d " 
    "a a b b b c c d d d ";
    grid-template-columns: repeat(10, 9%); 
}


.hidden {
    display: none;
}

.item {
    border: 1px solid rgba(255, 255, 255, 0.224);
    color: white;
    background-color: rgba(10, 94, 139, 0.45);
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blur-overlay {
    position: fixed;      
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;           
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0); 
    background: linear-gradient(0deg, rgb(22, 22, 23), rgba(13, 33, 111, 0.41) 55%, rgba(2, 1, 5, 0.297), rgba(4, 2, 2, 0.262));
    opacity: 0.9;
    z-index: 2;
    

    
}


/* profilbar area */

.profil-area{
   
   /* background-color: rgba(89, 4, 4, 0.683); */
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    

    
   
}

.profil-content{
    /* background-color: rgba(250, 235, 215, 0.231); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 48px;
    height: 240px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 25%;
    margin-right: 10px;
    align-items: center;
   
}

.userIcon{
    
    width: 25px;
    height: 25px;
}


.star-area{
    background-color: rgba(250, 235, 215, 0.231);
    position: absolute;
    width: 99%;
    height: 200px;
    border: 1px solid white; 
    border-radius: 10px;
    top: 82%;
    z-index: 2;
    margin: 5px;
}







/* inside the  search container */
.top-container{

    background-color: rgba(250, 235, 215, 0.231);
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 700px;
    height: 350px;
    border: 1px solid rgba(204, 204, 204, 0.341);
    border-radius: 50%;
    align-items: center;
    
}


.content-area{
  
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.title-content{
    color: white;
}

.search-input{
    width: 350px;
    height: 25px;
    margin: 5px;
    margin-right: 5px;

}

.search-area{
    
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5em ;
   
}

.range-container{
   
    margin-top: 15px;
    color: white;
}

.range-slider::-webkit-slider-thumb{
appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 50%;
  background: red; /* change color here */
  cursor: pointer;
}

/* tag area  */

.tag-container{
    
    width: 420px;
    height: 80px;
    padding: .5em;
    margin-top: .2em;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    gap: .5em;

    

}


.tag-item{
    
    background-color: rgb(122, 81, 60);
    display: inline-block;
    padding: .1em .65em;
    border-radius: 20px;
    

}

.tag-item .close{

    
    height: 10px;
    width: 15px;
    border-radius: 50px;
    margin-left: .5em;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer ;
   
}

.tags-input{
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
    background: none; 
}

.tags-input::placeholder{
    color: rgba(255, 255, 255, 0.388);
    text-align: center;
}


.texttry{
    background-color: hsla(76, 88%, 47%, 0.863);
}

.btn-area{
    margin-top: 5%;
    /* background-color: red; */
    
    
}

.submit-btn{
    background: rgb(195, 195, 194);
    width: 160px;
    height: 40px;
    border-radius: 3%;
}




/*  User feed area  */



@media screen and (max-width:2000px){
   
   
        .feed-area{
            /* background-color: rgba(24, 190, 57, 0.256); */
            /* background: linear-gradient(45deg, #0b0b0b, #00ccff); */
            /* margin: 0.2%; */
            margin-top: 0;
            height: 510px;
            display: flex;
            /* border: 1px solid rgb(220, 220, 220) ; */
            border-radius: 10px;
        }



}

@media screen and (min-width:2000px) {
  
       .feed-area{
            
        display: flex;
        /* background-color: rgba(255, 80, 191, 0.288); */
            height: 800px;
            margin: 0.5%;
            border: 1px solid rgb(220, 220, 220) ;
       }
    
    } 





/*  media query for the user feed nav */


@media screen and (max-width:2000px){

    .user-feed-nav{
        /* background-color: rgba(255, 166, 0, 0.648); */
        width: 50px;
        height: 450px;
        margin: 1%;
        text-align: center;
        margin-right: 1%;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 10px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
    }
}

@media screen and (min-width:2000px) {
    
    
       .user-feed-nav{
        /* background-color: rgba(255, 166, 0, 0.648); */
        width: 50px;
        height: 750px;
        margin: 1%;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.897);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
    } }




    .create-btn{
        background-color: rgb(0, 247, 255);
        height: 100px;
        width: 100px;
    }
    
    
    
    .add-btn{
        /* background-color: rgba(189, 189, 189, 0.365); */
        background-color: rgba(189, 183, 183, 0.233);
        width: 40px;
    
    }
    
    .Timeline-btn{
        /* background-color: rgba(189, 189, 189, 0.365); */
        background-color: rgba(194, 194, 194, 0.233);
        width: 40px;
    
    }
    
    .Network-btn{
        background-color: rgba(247, 247, 247, 0.233);
        width: 40px;
    }
    
    
    .Setting-btn{
        background-color: rgba(242, 242, 242, 0.233);
        width: 40px;
    }
    
    .btn-area{
       
        height: 20px;
    }
    



    

/* user create event area  */


@media screen and (max-width:2000px){


    .create-event-area{
        background-color: rgba(143, 141, 141, 0.354);
        width: 590px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        border: 1px solid white;
        border-radius: 10px;
        
    }

    


}


@media screen and (min-width:2000px) {
    
    .create-event-area{
    background-color: rgba(143, 141, 141, 0.354);
    width: 750px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    border: 1px solid white;
    border-radius: 10px;
    

    }
 } 






@media screen and (max-width:1800px){
    .title-date-content{
        /* background-color: rgba(255, 166, 0, 0.975); */
        margin-top: 20px;
        display: flex;
        height: 90px;
        
        
       
    }

}

@media screen and (min-width:1800px){ 
    
    .title-date-content{
        /* background-color: rgba(255, 166, 0, 0.975); */
        margin-top: 20px;
        display: flex;
        height: 90px;
        
    
    }
}





@media screen and (max-width:1800px){
    .event-title-area{
        /* background-color: green; */
        width: 90%;
        height: 90px;
        text-align: center;
        align-items: center;
       
    }

}



@media screen and (min-width:1800px){ 
    

    .event-title-area{
        /* background-color: green; */
        width: 90%;
        height: 90px;
        text-align: center;
        align-items: center;
    
    }
   
}





.eventTitle{
    background-color: rgba(240, 248, 255, 0.79);
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 23px;
    gap: 50%;

    
}

@media screen and (min-width:1800px){ 
    
    
    .eventTitle{
        background-color: rgba(240, 248, 255, 0.79);
        width: 90%;
        height: 30px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 23px;
        gap: 50%;

        
    }

   
}







/* .eventtype-date-area{
    background-color: red;
   
} */

.eventType{
    width: 150px;
    height: 25px;
    margin-top: 10px;
    background-color: rgba(240, 248, 255, 0.79);
    
}



.eventDate{
    width: 145px;
    margin-top: 5px;
    background-color: rgba(240, 248, 255, 0.79);
}


/* invite option area */

.Invite-content-area{
    /* background-color: aquamarine; */
    height: 50px;
    border-top-style: solid;
    border-top-color: white ;
    border-top-width: 1px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    
    
    
}

.invite-content{
    /* background-color: orange; */
    width: 60%;
    height: 50px;
    
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid white;
    border-left: 1px solid white ;

}

.onlyFriends-content{
    display: flex;
    flex-direction: column;

}


.friendsPlus-content{
    display: flex;
    flex-direction: column;
}

.worldWide-content{
    display: flex;
    flex-direction: column;
}

/* label style of invite contents */


#worldwideClass{
    
    background-color: #f3e5e5b9;
    color: rgb(39, 5, 5);
}


/* Image content area */


.UploadCoverArea{
    display: flex; 
    gap: 10%;
    
    
    
    
}

.invite-area{
    background-color: goldenrod;
    width: 100px;
    
}

.ImageCoverUpload{

    background-color: aqua;
    color: white;
    margin-left: 2%;
    
}



@media screen and (max-width:2000px){

            
        .imagePreview{


            background-color: rgb(0, 255, 255);
            color: white;
            margin-left: 11.5%;
            margin-top: 4%;
            width: 190px;
            height: 170px;

        }

}


@media screen and (min-width:2000px){

            
        .imagePreview{


            background-color: aqua;
            color: white;
            margin-left: 13%;

        }

}


/* Image Cover Icon */

@media screen and (max-width:2000px){

    .ImageCoverIcon{
    
        /* background-color: rgb(152, 12, 12); */
        margin-top: 10px;
        margin-left:65%;
    } 
    
}


@media screen and (min-width:2000px){

    .ImageCoverIcon{
    
        /* background-color: rgb(152, 12, 12); */
        margin-top: 10px;
        margin-left: 100%;
    } 
    
}












/* inside create body - description area */


@media screen and (max-width:2000px){
    
    .event-Description-And-ImageArea{
        /* background-color: rgba(226, 52, 43, 0.457); */
        height: 90px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        
    }


}

@media screen and (min-width:2000px){ 
    
    .event-Description-And-ImageArea{
        /* background-color: rgba(43, 226, 76, 0.457); */
        display: flex;
        justify-content: space-between;
        height: 180px;
        text-align: center;
        align-items: center;
        
       
        
    }
   
}

.eventDescriptionContent{
    
    /* background-color: red; */
    width: 65%;
    height: 70px;
    
}



@media screen and (max-width:2000px){

    .eventDescriptionContent{
        background-color: rgba(240, 248, 255, 0.799);
        margin-top: 20px;
        width: 58%;
        height: 80px;
        margin-right: 1%;
        border-radius: 10px;
       
        text-align: center;

        
        
    }
   

}

@media screen and (min-width:2000px){ 
    
    .eventDescriptionContent{
        background-color: rgba(240, 248, 255, 0.799);
        margin-top: 10px;
        width: 58%;
        height: 150px;
        margin-right: 1%;
        border-radius: 10px;
       
        text-align: center;

        
        
    }
   
}



@media screen and (max-width:2000px){

    .createEventBtnArea{
        margin-top: 20px;
        display: flex;
        /* background-color: aqua; */
        justify-content: flex-end
    }
    
}

@media screen and (min-width:2000px){

    .createEventBtnArea{
        margin-top: 10px;
        display: flex;
        /* background-color: aqua; */
        justify-content: flex-end
    }

}



@media screen and (max-width:2000px){

    .btnContentArea{
        /* background-color: green; */
        width: 408px;
        margin-right: 1%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:2000px){

    .btnContentArea{
        /* background-color: green; */
        width: 438px;
        margin-right: 1%;
        display: flex;
        justify-content: space-between;
    }
    

}



/* Event Time area  */


@media screen and (max-width:2000px){
    
.eventTime{
    background-color: rgba(240, 248, 255, 0.79);
    height: 20px;
    margin-left: 22%;

}
}



@media screen and (min-width:2000px){

    .eventTime{
        background-color: rgba(240, 248, 255, 0.79);
        height: 25px;
        
    
    }

 
}

/* Create Event btn style  */


@media screen and (max-width:2000px){

    .createEventBtn{
        background-color: rgb(246, 246, 246);
        width: 150px;
        margin-right: 10px;
       
    }
    
   
    }
    
    
    
    @media screen and (min-width:2000px){
    
        .createEventBtn{
            background-color: rgb(246, 246, 246);
            width: 250px;
            margin-right: 50px;
           
        }
    }

 @media screen and (max-width:2000px){
    .addEventSection{
        /* background-color: peru; */
        width: 2500px;
        height: 500px;


    }

    }



    /* Nav Content Area */



    @media screen and (max-width:2000px){
    
        .AddEventContentArea{
            /* background-color: rgba(35, 35, 35, 0.397); */
            /* background-color: rgba(40, 40, 40, 0.272); */
            /* background: linear-gradient(58deg, #0b0b0b, #4f6267, #3684982e); */
            display: flex;
            margin-top: 20px;
            gap: 2%;
            
            /* width: 50%; */
            
            /* height: 450px;
            bo3der: 1px solid rgba(255, 255, 255, 0.196);
            border-radius: 10px; */
            
    
            
               
        }
    }

    .chatContentArea{
        background: linear-gradient(5deg, #151716, #10272d, #17171727);
        border: 1px solid rgba(255, 255, 255, 0.196);
        border-radius: 10px;
        width: 500px;
        height: 450px;
        margin-right: 10px;
        overflow: hidden;
        animation: jumpOut 1s ease-out;
      
    }


    .EventContentArea{
        /* background: linear-gradient(58deg, #0b0b0b, #4f6267, #3684982e); */
        background: linear-gradient(5deg, #151716, #10272d, #17171727);
        border: 1px solid rgba(255, 255, 255, 0.196);
        border-radius: 10px;
        width: 1300px;
        height: 450px;
        overflow: hidden;
        animation: jumpOut 0.4s ease-out;
    }

    @keyframes jumpOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }


    @media screen and (min-width:2000px){
    
        .AddEventContentArea{
            /* background-color: rgba(35, 35, 35, 0.397); */
            background-color: rgba(40, 40, 40, 0.272);
            display: flex;
            margin-top: 30px;
            width: 2400px;
            height: 750px;
            border: 1px solid rgba(255, 255, 255, 0.196);
            
            
    
            
           
    
            
        }
    }


    .contentCreateSection{
        /* background-color: #0038e1; */
        display: flex;
        flex-direction: column;

    }
    

    
    @media screen and (min-width:2000px){
    
        .eventContentSection{
            /* background-color: rgba(103, 16, 16, 0.562); */
            display: flex;
            width: 2150px;
            height: 750px;
            flex-wrap: wrap;
            gap: 5%;
            /* padding: 0%; */
            
            
            
        
        
        }
    }


    @media screen and (max-width:2000px){
        .eventContentSection{
            /* background-color: rgba(255, 26, 148, 0.562); */
            display: flex;
            /* width: 1400px; */
            height: 350px;
            flex-wrap: wrap;
            gap: 5%;
            /* padding: 0%; */
            
            
        
        
        }

        }







        /* Create-btn Arean */
@media screen and (max-width:2000px){
    
.create-addbtn-area{
    background-color: rgb(184, 4, 4);
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    height: 0px;
    margin-right: 3%;
    /* width: 150px; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

}

@media screen and (min-width:2000px){

    .create-addbtn-area{
        /* background-color: firebrick; */
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}



@media screen and (max-width:2000px){
    .add-event-btn{
        background-color: rgba(22, 22, 22, 0.39);
        
        /* border: 1px solid rgba(248, 248, 248, 0.447); */
        height: 70px;
        width: 70px;
        border-radius: 10% 50% 10% 10%;
        margin-bottom: 30px;

    }

}

@media screen and (min-width:2000px){
    .add-event-btn{
        background-color: rgba(22, 22, 22, 0.39);
        height: 100px;
        width: 100px;
        border-radius: 10% 50% 10% 10%;
        margin-bottom: 90px;
    
       
    
        
    
    }

}


 
@media screen and (min-width:2000px){
    .CalenderArea{
        background-color: rgba(35, 35, 35, 0.397);
        margin-top: 30px;
        width: 2400px;
        height: 750px;
        border: 1px solid rgba(255, 255, 255, 0.196);
       
    }
    
}




@media screen and (max-width:2000px){
    .CalenderArea{
        
        /* background-color: rgba(53, 255, 2, 0.397); */
        margin-top: 20px;
        width: 1590px;
        height: 450px;
        border: 1px solid rgba(255, 255, 255, 0.196);
       
    }
    
    
}


@media screen and (min-width:2000px){

    .CalenderArea{
        background-color: rgba(35, 35, 35, 0.397);
        margin-top: 30px;
        width: 2400px;
        height: 750px;
        border: 1px solid rgba(255, 255, 255, 0.196);
       
    }

}





@media screen and (max-width:2000px){   
.eventContent{
    /* background-color: #58d17290; */
    display: flex;
    height: 150px;
    width: 190px;
    border-radius: 20px;
    margin: 10%;
    /* flex-direction: column; */


    
   
}}

@media screen and (min-width:2000px){

    .eventContent{
        /* background-color: #ff51dc78; */
        display: flex;
        height: 250px;
        width: 250px;
        border-radius: 20px;
        margin: 10%;
        /* flex-direction: column;  */
    }

}









/* Image Cover Content */

@media screen and (max-width:2000px){

    .img-content-cover{

        /* background-color: #8cff0078; */
        display: flex;
        
        border: 1px solid black;
        /* border-top-right-radius: 9%;
        border-top-left-radius: 9%;  */
        border-radius: 10%;
        
    
    }
    

}

@media screen and (min-width:2000px){
    .img-content-cover{

        /* background-color: #b1ff5178; */
        display: flex;
        border: 1px solid black;
        border-top-right-radius: 9%;
        border-top-left-radius: 9%; 
        border-radius: 10%;
        
    
    }
    

}





.CoverContentBar{
    display: none;
    }







.ImageEventTitle{
    display: none;
}














@media screen and (max-width:2000px){
    .ImageEventTitle{
       font-size: 10px;
    }
}


@media screen and (max-width:2000px){
    .ImageCoverContent:hover .ImageEventTitle{
         position: relative;
         width: 181px;
         height: 170px;
         top: -114%;
         left: 0;
         right: 0;
         bottom: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: rgba(248, 30, 23, 0.116);
         background-size: cover;
         border-radius: 10%;
         color: white;
         
     }
     

}


.eventWindoOverlay{
   
    background-color: rgba(27, 26, 26, 0.526);

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    
}

.eventWindowSection{
    /* background-color:rgba(201, 197, 201, 0.244); */
    position: absolute;
    top: 53.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.eventWindowContent{
    /* background-color:rgba(234, 234, 234, 0.147); */
    background-color:rgba(8, 8, 8, 0.712);
    /* background-color: orange; */
    /* background-color: green; */
    width: 100%;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.184);

}

.eventWindowNav{
    background-color:rgba(8, 8, 8, 0.712);
    /* background-color: orange; */
    width: 10%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.184);
}

.eventwindowHeader{

    /* background-color: rgb(10, 82, 34); */
    display: flex;
    align-items: center;
}
.eventWindowTitle{
    background-color:rgba(201, 197, 201, 0.078);
    /* background-color: orange; */
    height: 30px;
    width: 95%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
    border-bottom: 1px solid white;
    border-radius: 10px;
}

.eventwindowClose{
    background-color: rgb(255, 0, 0);
    width: 15px;
    height: 15px;
    color: rgb(20, 19, 19);
    /* margin-bottom: 3%; */
    margin: 2%;
    font-size: medium;
    font-weight: bolder;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.eventWindowImage{
    /* background-color: orange; */
    display: flex;
    margin-left: 5%;
    /* justify-content: center; */
}

.eventMetaData{
    /* background-color: orange; */
    margin-left: 2%;
    width: 100px;
    display: flex;
    flex-direction: column;

    gap: 5%;
    /* border-left: 1px solid rgba(255, 255, 255, 0.158); */
}

.eventHostMetaDataHost{
    background-color: rgba(255, 0, 0, 0.327);
    text-align: center;
    margin: 5%;
    font: bold;
   border-radius: 10px;
}
.eventHostMetaDataDate{
    background-color: rgba(0, 255, 47, 0.327);
    text-align: center;
    margin: 5%;
   border-radius: 10px;
}

.eventHostMetaDataeventType{
    background-color: violet;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}

.eventWindowImageContent{
    border-radius: 10px;
}


.eventWindowImageDescriptionArea{
    /* background-color:rgba(201, 197, 201, 0.078); */
    /* background-color: rgba(16, 182, 16, 0.263); */
    height: 100px;
    margin: 4%;
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.164); */
    

}


.eventWindowImageDescription{
    background-color: rgba(222, 222, 222, 0.041);
    height: 80%;
    width: 97%;
    border-radius: 10px;
    margin-left: 1px;
    color: white;
   
    

    
}


.eventWindowNavOptions{
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;

}

.eventoptionView{
    /* background-color: green; */
    margin-top: 30%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.eventoptionMessage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;

}

.eventoptionAddUser{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}



.eventoptionsDelete{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

@media screen and (min-width:2000px){

    .ImageCoverContent:hover .ImageEventTitle{
        background-color: aqua;
    
         position: absolute;
         height: 234px;
         width: 230px;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: rgba(255, 155, 172, 0.098);
         border: 1px solid black;
         border-radius: 10%;
         color: white;
         
     }
     

}







.eventOptionSection{
    background-color: orange;

    width: 50px;
    /* background-color: aqua; */
    position: absolute;
    height: 234px;
    width: 230px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}




.popupSetting{
   
    position: absolute;
    background-color: red;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}



/*  Network area - Join and Favor area  */




/* Share Area - Section  */


.shareArea{
    /* background-color: rgb(255, 121, 215); */
    background-color: rgba(255, 0, 0, 0.272);
    display: flex;
    margin-top: 30px;
    width: 2400px;
    height: 750px;
    border: 1px solid rgba(255, 255, 255, 0.196);
    gap: 2%;
    
   
   

}

.ShareDragArea{
    background-color: rgba(187, 187, 235, 0.418);
    height: 700px;
    width: 20%;
    margin-top: 1%;
    margin-right: 3%;
    border: 1px solid black;
    border-radius: 10px;
}


.shareAtomArea{
    background-color: rgba(164, 164, 164, 0.258);
    height: 700px;
    width: 80%;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 10px;
   
}

.ShareSelectedArea{
    background-color: rgba(255, 166, 0, 0.489);
    width: 15%;
    margin-left: 2%;
    margin-top: 1%;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
}










/* day picker  global style */
  
  @media screen and (min-width:2000px){
    .rdp {
        --rdp-cell-size: 0px 40px !important;
        --rdp-accent-color: #868686;
        --rdp-background-color: #0038e1;
        /* Switch to dark colors for dark themes */
        --rdp-accent-color-dark: #3003e1;
        --rdp-background-color-dark: #180270;
        /* Outline border for focused elements */
        --rdp-outline: 2px solid var(--rdp-accent-color);
        /* Outline border for focused and selected elements */
        --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
        
        
      }
    

  }



  @media screen and (max-width:2000px){
    .rdp {
        --rdp-cell-size: 10px 40px !important;
        --rdp-accent-color: #868686;
        --rdp-background-color: #0038e1;
        /* Switch to dark colors for dark themes */
        --rdp-accent-color-dark: #3003e1;
        --rdp-background-color-dark: #180270;
        /* Outline border for focused elements */
        --rdp-outline: 2px solid var(--rdp-accent-color);
        /* Outline border for focused and selected elements */
        --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
        
        
      }
    

  }






  @media screen and (min-width:2000px){
  
    .rdp-head_cell{
        background-color: aquamarine;
        width: 180px !important;
        color: white !important;
        background-color: #c6c6c638;
        border: 1px solid white !important;
        height: 30px !important;

    }

  }



  
  @media screen and (max-width:2000px){
  
    .rdp-head_cell{
        background-color: aquamarine;
        width: 180px !important;
        color: white !important;
        background-color: #c6c6c638;
        border: 1px solid white !important;
       

    }

  }


  /* rdp-month */



  @media screen and (min-width:2000px){
   
    .rdp-month{
        color: white;
    }

  }

  
  @media screen and (max-width:2000px){
   
    .rdp-month{
        color: white;
        
    }

  }
 

  /* rdp-tabl */

  @media screen and (min-width:2000px){
   
   .rdp-table{
    width: none;
   }

  }


 
  @media screen and (min-width:2000px){
   
    .rdp-row{
        /* background-color: rgb(255, 149, 149) !important; */
        height: 100px ;
        width: 100% !important;
    }
  }


   
  @media screen and (max-width:2000px){
   
    .rdp-row{
        /* background-color: rgb(255, 149, 149) !important; */
        height: 60px !important;
        width: 40px !important;
    }
  }

 

 

  @media screen and (min-width:2000px){
/*    
      .rdp-day{
        background-color: red;
        margin: "auto";
        color: white;
        padding: 10px;
      } */

  }

  .mapstyle{
    /* background-color: beige; */
    height: 500px;
  }

  .map-container {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
   
    /* background-color: rgb(241, 229, 229); */
    /* border: 1px solid white; */
    /* border-radius: 10px ; */
    /* margin-bottom: 1%; */


  }



.ProfilNavAreaContent{
    /* background-color: powderblue; */
    width: 100%;
    height: 300px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  
}



.NavbarMenu{
    /* background-color: rgb(192, 170, 130); */
    display: flex;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 5%;


    
    
    
   
}


.middleNavbar{
    /* background-color: orange; */
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-left: -3%;
    
    margin-bottom: 1%;


}

.homebtn{
    /* background-color: rgba(35, 169, 237, 0.553);; */
   background: linear-gradient(40deg, #0b0b0b, #00ccff,#0b0b0b); 
    width: 30%;
    height: 30px;
    border-radius: 60px;

    cursor: pointer;
}
.explorebtn{
    background-color: rgba(217, 0, 0, 0.848);
    background: linear-gradient(45deg, #0b0b0b, #ff0800,#0b0b0b); 
    width: 30%;
    height: 30px;
    border-radius: 60px;
    margin-right: 3%;
    cursor: pointer;
}



.logoWorthsec{
    /* background-color: orange; */
     width: 400px; 
     height: 40px;
   
 }

 .worthsecAreabtn{
    background-color: rgba(0, 0, 0, 0.233);
    opacity: 0.7;
    width: 400px;
    height: 40px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}



.globalHeaderLogoSection{
    /* background-color: green; */
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.gloabalHeaderLogout{
    
        /* background-color: green; */
        width: 100px;
        height: 20px;
    
}
.globalNavbarLogo{
    /* background-color: #180270; */
    display: flex;
    justify-content: center;
}



.tvSectionArea{
    /* background-color: rgb(23, 13, 13); */
    position: absolute;
    top: 9%;
    left: 2%;
    width: 450px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.326);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.tvSection_sidebar1{
    /* background-color: orange; */
    width: 55px;
}

.tvSection_middle{
    /* background-color: rgb(211, 211, 211); */
    width: 400px;
    border-left: 1px solid  rgba(255, 255, 255, 0.326);
    border-right: 1px solid  rgba(255, 255, 255, 0.326);
    display: flex;
    flex-direction: column;
   
}

.tvSection_sidebar2{
    /* background-color: green; */
    width: 55px;
}

.tvSection_middle_frame{
    /* background-color: orchid; */
    height: 220px;
    margin-left: 4%;
    margin-right: 4%;
    border-left: 1px solid  rgba(255, 255, 255, 0.326);
    border-right: 1px solid  rgba(255, 255, 255, 0.326);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.326);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   


}