





.header-area{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 0px; 
    /* background: rgba(25, 255, 129, 0.151); */
    
}

.userRequestSection{

    width: 100%;
    height: 50px;
    
    
}

.userRequestContent{
    /* background-color: orange; */
    display: flex;
    gap: 20%;
    margin-left: 10%;

}

.closefriendsSection{
    /* background-color: green; */
    background: linear-gradient(0.1deg, #1036249e, #141b1b74, #00000027);
    /* background: linear-gradient(1deg, #acacac80, #2736390e, #88bcfc00, #acacac); */
    /* background: linear-gradient(1deg, #5e5e5e80, #6768680e, #88bcfc00, #4a4848); */
    background: linear-gradient(1deg, #070707bb, #fdfdfd1d, #0c0c0c71, #000000);




    /* width: 100%; */
    height: 50px;
    margin: 0;
    display: flex;
    /* justify-content: space-around; */
    border: 1px solid rgba(247, 247, 247, 0.234);
    border-radius: 80px;
}


.closefriendsContent{
     background-color: orange;
 
    display: flex;
     color: white;
     margin: 1%;
}

.profilHeader{
    /* background-color: rgba(174, 19, 19, 0.542); */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1%;
}




.pictureUrl{
 
    width: 150px;
    height: 150px;
    margin-left: 90%;
    border-radius: 50%;
    margin-top: 45%;

}




.happyProfilIcon{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 13%;
    
}

.messagePopUpContentArea{
    background-color: rgba(102, 51, 153, 0.167);
    width: 540px;
    height: 220px;
    position: absolute;
    top: 9%;
    left: 3%;
    border: 1px solid white;
    border-radius: 10px;
}




.logoWorthsec{
   /* background-color: orange; */
    width: 400px; 
    height: 40px;
  
}

.worthsecAreabtn{
    background-color: rgba(0, 0, 0, 0.233);
    opacity: 0.7;
    width: 400px;
    height: 40px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}




.profilpicArea{
    /* background-color: rgb(243, 137, 137); */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    
}






.nav-area{
    
    margin-top: 2%;
    height: 80px;
    width: 40%;
    /* background-color: dodgerblue; */
    
}



.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    /* background-color: rgb(30, 255, 53); */
    border-bottom: 1px white solid;
    
}


#in_line{
    position: relative;
    bottom: 50px;
}








.userLogout{
    /* background-color: green; */
    width: 100px;
    height: 20px;
}

.addProfilpicbtn{
    /* background-color: rgb(18, 223, 255); */

    height: 130px;
    width: 130px;
    
}

.profilPicSection{
    /* background-color: rgb(227, 227, 227); */
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.previewSection{
    background-color: rgba(16, 16, 16, 0.49);
    position: absolute;
    top: 2%; 
    left: 55%;

    width: 420px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;

}



.previewSectionBtn{
    /* background-color: orange; */
    height: 25%;

}


.previewBtnSubmit{
    background-color: rgb(0, 0, 0);
   
    width: 50%;
    height: 70%;
    color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
}

.previewBtntryAgain{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 70%;
    color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
    

}

.BtnSection{
  /* background-color: orchid; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -40px;
  left: 70px;
  margin-right: 25px;
}



.editoptionPopup{
    /* background-color: rgba(185, 185, 185, 0.278); */
    position: absolute;
    top: 19%;
    left: 46%;
    width: 150px;
}

.editOptions{
    /* background-color: rgba(140, 140, 140, 0.168); */
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgba(255, 255, 255, 0.266); */
    color: white;
    border-radius: 10px;

   
   

}
.DeleteProfilPicture{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.upatebtnProfilPicture{
    border-right: 1px solid white;
    border-radius: 10px;
    padding-right: 10px;
    border-left: 1px solid white;
    padding-left: 10px;
    

}

.DeleteProfilPicture:hover{
    background-color: rgba(140, 140, 140, 0.168);
}


.upatebtnProfilPicture:hover{
    background-color: rgba(140, 140, 140, 0.168);
}



.userLogout{
    /* background-color: green; */
    width: 100px;
    height: 20px;
}


.profilPicSection{
    /* background-color: rgb(227, 227, 227); */
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.previewSection{
    background-color: rgba(16, 16, 16, 0.49);
    position: absolute;
    top: 2%; 
    left: 55%;
    width: 420px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;

}

.previewSectionImage{
    /* background-color: rgba(0, 128, 0, 0.253); */
    
    height: 75%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    
    
    
}

.previewImageObject{
    border-radius: 10px;
}

.previewSectionBtn{
    /* background-color: orange; */
    height: 25%;

}


.previewBtnSubmit{
    background-color: rgb(0, 0, 0);
   
    width: 50%;
    height: 70%;
    color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
}

.previewBtntryAgain{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 70%;
    color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;

}







.previewSectionUpperlayer{
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15px;
}
.previewSectionCloseBtn{
    color: red;
    /* background-color: violet;  */
    margin-right: 20px ;
    font-size: 20px;

}

.previewSectionDeleteImage{
    color: white;
    margin-left: 20px;

}







.proId{
    background-color: orange;
    width: 100px;
    height: 10px;
}

.ProfilpiContainer{
    
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.navSideOptions{
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7%;
    color: rgb(255, 255, 255);

}

.profiloptionslayer{
    background-color: rgb(75, 75, 75);
    width: 45%;
    margin-left: 1%;
    margin-bottom: 0%;
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    /* border-right: 1px solid rgba(220, 220, 220, 0.622) ;
    border-bottom: 1px solid rgba(220, 220, 220, 0.622);
    border-top: 1px solid rgba(255, 255, 255, 0.588); */
    border-right: 1px solid rgba(220, 220, 220, 0.622) ;
}

.sliderAreasectionyLayor{
    /* background-color: orange; */
    display: flex;
    /* justify-content: flex-end; */
    /* gap: 1%; */
}


.sliderAreasection{
    /* background-color: rebeccapurple; */
    /* border: 1px solid white; */
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(220, 220, 220, 0.622);
    border-top: 1px solid rgba(255, 255, 255, 0.588);
    margin-bottom: 1%;
   
   
}
.profiloptionContent{
    /* background-color: green; */
    width: 350px;
    display: flex;
    margin-bottom: 1%;
    /* border-right: 1px solid white; */
}

.Notificationbtn{
    background-color: rgba(245, 245, 245, 0.459);
    width: 150%;
    height: 40px;
    background: linear-gradient(5deg, #70887c, #28d4ff, #17171727);
}


.Messagebtn{
    width: 150%;
    height: 40px;
    background: linear-gradient(5deg, #91fcc6, #df0d0d, #6756ea27);

}

.Friendsbtn{
    width: 180%;
    height: 40px;
    background: linear-gradient(5deg, #151716, #2097b4, #17171727);

}